.login {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 130px 15px 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    height: 100%;
}

.title {
    text-align: center;
    font-family: "Nunito";
    color: #E43071;
}

.error {
    font-size: 25px;
    font-family: "Nunito";
    text-align: center;
}

.buttonShowPassword {
    width: fit-content;
    margin-right: 0;
}

.button {
    margin-top: 15px;
}