.title {
    font-family: "Nunito";
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: center;
    color: #E43071;
}

.loading {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

@media screen and (max-width: 1101px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 770px) {
    .cards {
        grid-template-columns: 1fr;
    }
}