.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    border: 2px dashed #E43071;
    animation: 3s infinite alternate spin;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container p {
    font-family: "Nunito";
}