.review {
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(228, 48, 113, 0.2);
    font-family: "Nunito";
    padding: 15px;
    height: fit-content;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 15px;
}

.weight {
    color: #e43071;
    font-size: 35px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.description {
    white-space: pre-line;
}

.name {
    color: rgba(128, 128, 128, 0.7);
    text-align: left;
    margin: 5px 0;
}

.extInfo {
    color: rgba(128, 128, 128, 0.5);
    text-align: right;
    margin-top: 15px;
    margin-bottom: 0;
}

.photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
}

@media screen and (max-width: 1101px) {
    .review {
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 770px) {
    .weight {
        text-align: left;
    }
}