.imageBG {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideTitle {
    font-size: 45px;
    color: white;
    font-family: "Nunito";
    user-select: none;
}

@media screen and (max-width: 855px) {
    .slideTitle {
        display: none;
    }
}