@font-face {
    font-family: "Poppins";
    font-style: normal;
    src: url("./assets/fonts/Poppins.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito.ttf") format("truetype");
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:root {
    --swiper-pagination-color: #E43071;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    --swiper-pagination-bottom: 8px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.instagram {
    background-image: linear-gradient(72.44deg, #FF7A00 11.92%, #FF0169 51.56%, #D300C5 85.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whatsapp {
    background-image: linear-gradient(72.44deg, #075E54 11.92%, #25D366 51.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    user-select: none;
}